<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<meta http-equiv='X-UA-Compatible' content='ie=edge'>
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,700,700i&display=swap" rel="stylesheet">
	<link rel='stylesheet' href='/css/styles.css'>
	<title>Yelp Camp</title>
</head>
<body>
	<nav class="navbar">
		<section class="navbar-first navbar-section">
			<a href="/campgrounds" class="navbar-brand">
				<img src="/media/images/favicon3.png" alt="">
				<span>YelpCamp</span>
			</a>
			<div class="navbar-menu-button">
				<a href="#!">
					<span>Show Menu</span>
				</a>
			</div>
		</section>
		<section class="navbar-second navbar-second-hidden navbar-section">
			<ul>
				<% if(!currentUser) { %>
					<li class="navbar-link"><a href="/login">Login</a></li>
					<li class="navbar-link"><a href="/register">Signup</a></li>
				<% } else { %>
					<li class="navbar-link">Currently signed in as <%= currentUser.username[0].toUpperCase() + currentUser.username.slice(1) %></li>
					<li class="navbar-link"><a href="/logout">Logout</a></li>
				<% } %>
			</ul>
		</section>
	</nav>
	<div class="top-spacer"></div>
	<% if(error && error.length>0) { %>
	<div class="alert alert-error"><%= error %></div>
	<% } %>
	<% if(success && success.length>0) { %>
		<div class="alert alert-success"><%= success %></div>
	<% } %>
	
		
	