<%- include('partials/header')  %>
<main class="centered-content">
	<section class="form-container">
		<h1>Login</h1>
		<form action="/login" method="POST">
			<div class="form-field">
				<label for="username">Username: </label>
				<input type="text" name="username" id="username" placeholder="Enter your username">
			</div>
			<div class="form-field">
				<label for="password">Password: </label>
				<input type="password" name="password" id="password" placeholder="Enter your password">
			</div>
			<button type="submit" class="button form-button">Login</button>
		</form>
	</section>
	<a href="/register">New here? Create an account</a>
</main>
<%- include('partials/footer')  %>